#one
{
height:600px;
width:600px;
border:2px solid black;
}
#up
{
height:298px;
width:598px;
border:1px solid black;
}
#upleft
{
height:148px;
width:598px;
border:1px solid black;
}
#upleft1
{
height:73px;
width:598px;
border:1px solid black;
}
#upleft2
{
height:73px;
width:598px;
border:1px solid black;
}

#upright
{
height:148px;
width:598px;
border:1px solid black;
}
#down
{
height:298px;
width:598px;
border:1px solid black;
}
#downleft
{
height:148px;
width:598px;
border:1px solid black;
}
#downright
{
height:148px;
width:598px;
border:1px solid black;
}


